:root {
  --main-text-color: lightblue;
}



.title_holder {
    background-color: lightblue;

}

.page_title {
    font-size: 30px;
    margin: auto;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}

.page_title h1 {
    font-size: 100px;
    color: mintcream;
}

.info_text {
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px 0px 50px;
}

.main_content {
    font-size: 20px;
    margin: 10px;
    padding: 30px;
    color: var(--main-text-color);
    text-align: center;

}

.txt_fld {
    background: white;
    border-color: purple;
    border-radius: 5px;
    border-style: dot-dash;
    font-size: 20px;
    padding: 10px;
    color: purple;
}

.nav-item {
    border-style: solid;
    border-width: 1px;
    border-color: var(--main-text-color);
    font-size: 15px;
    color: var(--main-text-color);
    padding-inline: 15px;
    margin: 10px;
}

.nav-link {
    color: var(--main-text-color);
}

.about_text {
    margin: auto;
    padding-inline: 20%;
}