.title {
    /*font-weight: bold;*/
}
.page_title {
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    color: yellowgreen;
    border-style: dotted;
    border-color: yellowgreen;
    text-align: center;
}

.main_content {
    font-size: 20px;
    margin: 10px;
    padding: 30px;
    color: yellowgreen;
    text-align: center;
}

.sub_btn {
    border-radius: 5px;
    border-color: yellow;
    background: yellowgreen;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.txt_fld {
    background: white;
    border-color: yellowgreen;
    border-radius: 5px;
    border-style: dot-dash;
    font-size: 20px;
    padding: 10px;
    color: yellowgreen;
}