body{
    background-color: yellowgreen;
}
.page_title {
    font-size: 30px;
    padding: 20px;
    margin: 10px;
    color: darkcyan;
    border-style: dotted;
    border-color: purple;
    text-align: center;
    /*background: darkblue;*/
}

.main_content {
    font-size: 20px;
    margin: 10px;
    padding: 30px;
    color: purple;
    text-align: center;

}

.txt_fld {
    background: white;
    border-color: purple;
    border-radius: 5px;
    border-style: dot-dash;
    font-size: 20px;
    padding: 10px;
    color: purple;
}