{% extends "shared/_layout.html" %}
{% block main_content %}
    {% if message %}
        <div> Message delivered! <br> => <span style="font-weight: bold">{{ message }}</span></div>
    {% else %}
        <form method="post">
            <label for="message-context">Your message:</label><br>
            <textarea class="txt_fld" name="message-context" id="message-context" rows="4" , cols="30"></textarea><br>
            <input class="btn btn btn-outline-primary btn-lg" type="submit" value="SUBMIT">
        </form>
    {% endif %}
{% endblock %}